<div class="flex flex-wrap gap-4 items-center w-full">
  <div class="flex-1 w-auto">
    <slot name="left" />
  </div>
  <div class="flex-1 w-auto">
    <slot name="middle" />
  </div>
  <div class="flex-1 w-auto">
    <slot name="right" />
  </div>
</div>